@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

*{
    margin-top: 0;
}
.results{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    flex-shrink: none;
    background:  linear-gradient(to right, #8360c3, #2ebf91);
}



body{
    background:  linear-gradient(to right, #8360c3, #2ebf91);
    font-family: 'Roboto Condensed', sans-serif;
}

.item img{
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    
   
}

.searchbar{
    margin-top: 0;
    background: url(../../images/chicken-wings-barbecue-sweetly-sour-sauce-picnic-summer-menu-tasty-food-top-view-flat-lay_2829-6471.webp);
}

.search-box{
    width: 60%;
    height: 30px;
    border-radius: 50px  50px;
    border: none;
    padding: 10px 30px;

}

.item{
    margin: 20px 20px;
    background: whitesmoke;
    border-radius: 10px;
    z-index: 1;
    cursor: pointer;
   
   
}
/* 
.searchbar{
   
    background:linear-gradient(to right, #8360c3, #2ebf91);
} */

.api{
   
    font-size: 20px;
    background: white;
    border: none;
    transform: translate(-40px,5px);
    border-radius: 0px 25px 25px 0px;
    color: #2ebf91;
}

.filter{
    color: aliceblue;
    margin: 20px 20px;
    padding: 20px 20px;


}

.header{
    background: rgba(255, 255, 255, 0.387);
    padding: 20px 20px;
    letter-spacing: 10px;
    font-size: 30px;
    font-weight: 400;
}

.filter-screen{
   
   margin: 20px 20px;
    z-index: 100;
    background:white;
    width: 97%;
    align-items: center;
    height: 42vh;
    position: fixed;
    border-radius: 20px;
    transition: 0.5s ease-in;
    color: black;
    border: 5px solid #4B0082;
    box-shadow:0 10px 30px rgba(0, 0, 0, 0.5), 0 10px 20px rgba(0, 0, 0, 0.24);
    
}

.btn{
    background: #002D62;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 20px;
}

.btn:hover{
    border: 2px solid #002D62;
    color: #002D62;
    font-size: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.59);
}

